python-dotenv
openai>=1.0.0
langchain>=0.3.0
langchain-openai>=0.2.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchainhub
langchain-qdrant
langchain-text-splitters
langchain-experimental>=0.3.0
langgraph>=0.2.0
langsmith
langgraph-checkpoint-postgres
pypdf
qdrant-client
faiss-cpu
tiktoken
numpy
pandas
scikit-learn
plotly
matplotlib
umap-learn
ipywidgets
tqdm
beautifulsoup4
openpyxl
nbformat
nest-asyncio
pydantic
fastapi
uvicorn
langserve[server]
psycopg[binary]